body {
  margin: 0;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5959df;
}
.link-block {
  width: 30%;
}
.link-block .link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.link-block .link-list a {
  text-decoration: none;
  color: grey;
  transition: all 0.5s ease-in;
}
.link-block .link-list a:hover {
  color: white;
}
.link-block .link-list a:active {
  color: black;
}
.icon {
  width: 30px;
}
.avatar {
  padding: 10px 40px 10px 0;
}
